h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 62, 134);
    font-weight: 600;
    font-size: 40px;
}
form{
    font-weight: 600;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    color: rgb(61, 61, 61);
    font-size: 16px;
    width: 16%;
    height: 25px;
    border-color : rgb(0, 0, 0);
    border-radius: 10px;
}
p{
    font-size: 20px;
    color: rgb(61, 61, 61);
    font-family: Arial, Helvetica, sans-serif;
}